body {
	background-color: black;
}
#carousel {
	margin: 0 auto;
	margin-top: 150px;
	height: 400px;
	width: 600px;
	overflow: hidden;
	border: 10px solid white;
}
ul {
	list-style-type: none;
	width: 3000px;
	margin: 0;
	padding: 0;
}
li {
	width: 600px;
	float: left;
}
p {
	color: white;
	margin-top: 100px;
	text-align: center;
	font-size: 30px;

}